.button{
    display: inline-block;
    padding: 15px 40px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;

    &:hover{
        text-decoration: none;
        color: inherit;
    }
    
    &.black{
        border: 1px solid #222222;
        transition: all 0.3s ease-in-out;
        color: white;
        background-color: #222222;
        
        &:hover{
            color: white;
            background-color: #000000;
        }
    }

    &.white{
        border: 1px solid #6f665f;
        color: #222222;
        background-color: white;
        transition: all 0.3s ease-in-out;
        font-weight: bold;

        &:hover{
            background-color: #222222;
            color: white;
        }
    }

    
    &.white.no-hover{
        &:hover{
            background-color: white;
            color: #222222;
        }
    }
}