h1{
    font-size: 48px;
    line-height: 1.5;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    @media only screen and (max-width: 600px) {
        font-size: 40px; 
    }
}

h2{
    font-size: 32px;
    line-height:  1.25;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    
    @media only screen and (max-width: 600px) {
        font-size: 28px; 
    }
}

h3{
    font-family: 'Crimson Text', serif;
    font-weight: 600;

}

h4{
    font-family: 'Crimson Text', serif;
}

h5{
    font-family: 'Crimson Text', serif;
}

p{
    font-size: 18px;
    line-height: 28px;
    font-family: 'Crimson Text', serif;

    @media only screen and (max-width: 600px) {
        font-size: 16px;
    }
}

a{
    color: black;
}

.icon {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}